@keyframes dropDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact {
  text-align: center;
  padding: 40px;
}

.contactHeader {
  text-align: center;
  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  max-width: 800px;
  margin: auto;
}

/* Drop-down animation applied */
.contact-form,
.contact-info {
  opacity: 0;
  transform: translateY(-50px);
  animation: dropDown 0.8s ease-out forwards;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation-delay: 0.5s; /* Form drops first */
}

/* Adjust spacing for input groups */
.input-group {
  display: flex;
  gap: 10px;
}

/* New styles for label positioning */
.input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-field label {
  font-size: 14px;
  margin-bottom: 5px;
  margin-left: 5px;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  background: #fff;
  border: 1px solid #000;
  color: black; 
  border-radius: 5px;
}

.message {
  textarea {
    width: 100%;
    height: 70px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #000;
  }
}

button {
  background-color: #936551;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  width: 150px;
  color: #fff;
  margin-left: 10px;
}

/* Contact Info Box */
.contact-info {
  text-align: left;
  background: #000000;
  margin-top: 25px;
  padding: 30px;
  border-radius: 20px;
  animation-delay: 0.8s; /* Info drops after the form */
}

.phone, .email, .office {
  color: #fff;
  font-size: 14px;
  padding-top: 5px;
}
button {
  background-color: #936551;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  width: 150px;
  color: #fff;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
}

/* Success (Green) */
button.success {
  background-color: #4CAF50; /* Light Green */
}

/* Error (Red) */
button.error {
  background-color: #FF6347; /* Light Red */
}
