@import url('https://fonts.cdnfonts.com/css/lufga');

.footer {
  font-family: "Lugfa";
  width: 100%;
  height: 40px;
  color: #A47764;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  left: 0;
  font-size: 13px;
}

/* Mobile Responsive */
@media (max-width: 360px) {
  .footer {
    font-family: "Lugfa";
    height: 30px;
    margin-top: 10px;
    font-size: 13px;
    text-align: center;
  }
}
